<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Highlight Your World</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="/v-accordion/dist/v-accordion.css" rel="stylesheet" />
    <link rel="stylesheet" href="/angular-material/angular-material.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <script src="/angular/angular.js"></script>
    <script src="/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="/angular-aria/angular-aria.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-material/angular-material.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-resource.js"></script>
    <script src="/v-accordion/dist/v-accordion.js"></script>
    <script src="/lodash/index.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="HighlightApp">
    <above></above>
    <navbar></navbar>
    <div ui-view></div>

</body>
</html>