<md-dialog-content>
  <div>
      <h4 class='repo-name'>{{ repoName }}</h4>
      <span><md-button class="md-icon-button" ng-click="close()">
        <md-icon md-svg-src="img/icons/ic_clear_black_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button></span>
      <md-divider></md-divider>
      <!-- <p>Contributors: {{contributors}}</p> -->
      <p><span id="file-var">File created: </span>{{ fileCreated }}</p>
      <p><span id="file-var">Commenters: </span><span ng-repeat="c in commenters" style="color:{{getRandomColor()}}">{{ c }}</span> </p>
      <p></p>

        <md-content>
        <md-list>
          <md-list-item class="files-in-repo">
            <!-- <div> -->
            <table class="table table-hover">
              <tr>
                <td class="file-title">Files updated</td>
                <td class="file-title">Highlights</td>
                <td class="file-title">Comments</td>
              </tr>
              <tr ng-repeat="file in filesUnderRepo">
                <td ng-click="goToFile(file)">{{ file.display }}</td>
                <td>{{ file.highlighted.length }}</td>
                <td>{{ file.numComments }}</td>
              </tr>
            </table>

              <!-- <h5 class="file file-name">{{ file.display }}</h5>
              <p>{{ file.highlighted.length }}</p>
              <p>{{ file.numComments }}</p> -->

              <!-- <p class="file commenter">Andy</p> -->
              <!-- </div> -->

              <!-- <md-button class="md-icon-button filego" ng-click="goToFile(file)">
                <md-icon md-svg-src="img/icons/ic_send_black_24px.svg"></md-icon>
              </md-button> -->


              <md-divider></md-divider>
          </md-list-item>
      </md-list>
      </md-content>

  </div>
</md-dialog-content>

<!--
<md-content>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="item in messages">
        <div class="md-list-item-text">
          <h3>{{item.what}}</h3>
          <h4>{{item.who}}</h4>
          <p>{{item.notes}}</p>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content> -->
