<nav class="navbar navbar-static-top" id="nav-y">
    <div>

      <!-- <md-button type="button" class="md-icon-button md-primary" ng-click="">
        <md-icon md-svg-icon="js/img/icons/ic_search_black_24px.svg"></md-icon>
      </md-button> -->

      <md-button type="button" md-no-ink class="md-primary" ng-click="">
        <md-icon md-svg-icon="js/img/icons/ic_add_black_24px.svg"></md-icon>
        ADD REPO
      </md-button>

        <!-- <div class="col-md-1 navbar-brand brand-name">LogoAndFont</div> -->
        <!-- <div class="col-md-6 search">

        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <div class="col-md-1 navbar-brand brand-name">GITTY</div>
        <div class="col-md-6 search">

    </div>
</nav>
