navbar {

  display: block;
  background: #EEF1F3;
  min-height: 47px;

  fullstack-logo {
    padding-top: 7px;
    margin-left: 20px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .brand-name {
    color: #2DBE60;
  }


  .navbar-form .form-control{
    margin-top: 1px;
    width: 300px;
    height: 30px;
  }

  .search{
    padding-left: 49px;
  }

  .btn{
    margin-top: 2px;
    font-size: 12px;
    height: 30px;
  }


  .nav > li > a {
    cursor: pointer;
    &.active {
      color: #f30046;
    }
    &:hover {
      transition: color 0.2s;
    }
    &:focus {
      color: #f30046;
      background: transparent;
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
  }

}