
#logo {
  font-family:  'Rock Salt', cursive;
  font-weight: bold;
  display: inline-block;
}

#login {
  float: right;
}

.container {
  // background-color: #F0F0F0;
  font-family: 'Quicksand', sans-serif;
  // font-family: 'Anton', sans-serif;
}

.intro {
  padding-top: 100px;
}

.highlighter {
  height: 50px;
  padding-right: 100px;
  // position: absolute;
  // top: 50px;
}

#today {
  padding-top: 10px;
  display: inline-block;
  position: relative;
}

.chart {
  float: right;
  width: 650px;

  // border-color: #29ABE2;
  // border-radius: 60px;
}

.download {
  background-color: #E8ff59;
  height: 30px;
  width: 350px;
}



@import url(http://fonts.googleapis.com/css?family=Anton|Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=Quicksand);
