<div>

  <md-button class="md-icon-button md-primary" ng-click="toggleLeft()">
        <md-icon md-svg-icon="img/icons/hamburger.svg"></md-icon>
  </md-button>

  <md-button class="md-icon-button md-primary">
        <md-icon md-svg-icon="img/icons/search.svg"></md-icon>
  </md-button>

  <div class="right-menu" style="float:right;">
    <md-button class="md-icon-button md-primary">
          <md-icon md-svg-icon="img/icons/add.svg" ng-click="toggleAddBar()"></md-icon>
    </md-button>

    <!-- class="md-icon-button md-primary" -->
   <!--  <md-button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->

  <!-- Notification -->
  <div class='repo-more'>
    <md-menu>
        <span id="notiIcon">
        <md-button type="button" class="md-icon-button md-primary" ng-click="notifications(); $mdOpenMenu()">
          <md-icon md-svg-icon="img/icons/notification.svg"></md-icon>
        </md-button>
        <button class="notiNum">{{notiNum}}</button>
        </span>

        <md-menu-content width="6">
            <div>
              <div ng-repeat="notification in noti">
                  <div class=noti-msg ng-click="openFile(notification.fileUrl)">
                    <p><span class="noti-username">{{notification.commenter}}</span>{{notification.display}}<span class='noti-timestamp'>{{notification.timestamp}}</span></p>
                  </div>
              </div>
            </div>
        </md-menu-content>
    </md-menu>
  </div>

  </div>



  <md-divider></md-divider>

  <div class="home-container">

 <!-- Side bar------------------------------------------------------------- -->
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">

      <div>
      <md-button class="md-primary">
        <md-icon md-svg-icon="img/icons/ic_inbox_black_24px.svg"></md-icon>
        Inbox
      </md-button>
      </div>

      <div>
      <md-button class="md-primary" ng-click="goArchive()">
        <md-icon md-svg-icon="img/icons/archive.svg"></md-icon>
        Archive
      </md-button>
      </div>

      <div>
      <md-button ng-click="logout()">
        <md-icon md-svg-icon="call:dialpad" md-menu-align-target=""></md-icon>
        Logout
      </md-button>
      </div>

  </md-sidenav>

<!-- Add Repo---------------------------------------------------------- -->

  <div ng-if="showAddBar">
    <md-autocomplete
            md-items="repo in querySearch(query)"
            md-selected-item="repoSelected"
            md-no-cache="true"
            md-search-text="query"
            md-search-text-change="searchTextChange(query)"
            md-item-text="repo.name"
            md-min-length="0"
            placeholder="Choose repo to add">

          <md-item-template>
            <span>{{repo.name }}</span>
          </md-item-template>

          <md-not-found>No matches found.</md-not-found>

    </md-autocomplete>

    <md-button class="md-primary" ng-click="addRepo(repoSelected); toggleAddBar(); loadRepos()">Add</md-button>
    <md-button class="md-warn" ng-click="toggleAddBar(); loadRepos()">Cancel</md-button>

  </div>

<!-- no repo yet --------------------------------------->
  <div id="noRepo" ng-if="user.repos.length === 0">
    <p>Your repo folder is lonely. <md-icon md-svg-icon="img/icons/ic_face_black_24px.svg"></md-icon></p>
    <p>Add a repo <md-button class="md-raised md-primary" id="now" ng-click="toggleAddBar()">Now </md-button> to start reviewing code!</p>
  </div>

<!-- repo list -------------------------------------------->
    <div id="your-repos" ng-mouseenter="showIcon = true" ng-mouseleave="showIcon = false" ng-repeat="repo in showRepos">

        <div id='repo-list'>

            <md-icon md-menu-origin="" md-svg-icon="img/icons/github-box.svg"></md-icon>
            <span>{{ repo.name }}</span>
            <md-icon md-svg-icon="img/icons/files.svg" ng-show="showIcon" ng-click="listFiles(repo)"></md-icon>

                  <md-menu class='repo-more'>
                    <md-icon md-menu-origin="" md-svg-icon="img/icons/more.svg" ng-show="showIcon" ng-click="$mdOpenMenu()"></md-icon>
                          <md-menu-content width="4">
                            <md-menu-item>
                              <md-button ng-click="deleteRepo(repo)">
                                <md-icon md-svg-icon="img/icons/ic_delete_black_24px.svg" md-menu-align-target=""></md-icon>
                                Remove repo
                              </md-button>
                            </md-menu-item>

                            <md-menu-item>
                              <md-button ng-click="goToRepo(repo)">
                                <md-icon md-svg-icon="img/icons/ic_arrow_forward_black_24px.svg" md-menu-align-target=""></md-icon>
                                Go to Repo
                              </md-button>
                            </md-menu-item>

                            <md-menu-item>
                              <md-button ng-click="archiveRepo(repo)">
                                <md-icon md-svg-icon="img/icons/archive.svg" md-menu-align-target=""></md-icon>
                                Archive
                              </md-button>
                            </md-menu-item>

                          </md-menu-content>
                  </md-menu>



        </div>
        <md-divider></md-divider>
    </div>

  </div>

</div>
