* {
  box-sizing: border-box;
}

body {
	position: relative;
	top: 20px;
	width: 400px;
	height: 500px;
}

li.ng-binding.ng-scope {
  height: 20px;
}

h3 {
  margin-top: 0px
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'home/main';
